INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
libtool
ltmain.sh
stamp-h1
test-driver
docs/Makefile
docs/Makefile.in
frog.pc
include/Makefile
include/Makefile.in
include/frog/Makefile
include/frog/Makefile.in
install-sh
m4/Makefile
m4/Makefile.in
m4/ax_lib_readline.m4
m4/ax_pthread.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/pkg.m4
missing
src/.deps/
src/.libs/
src/*.lo
src/*.o
src/*.la
src/frog
src/mbma
src/mblem
src/ner
